*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.container{
    border:1px  solid black;
    height: 650px;
    width: 1200px;
}
.row{
    height: 100%;
}
.img{
    background-image: url("../image/bg.jpg");
    background-size: 100% 100%;
}
.Form{border: 1px solid;}