@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Montserrat:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    animation: transitionIn 1s;
}


/* for the image*/
.imgcontainer{
    overflow: hidden;
    margin: 0 auto;
}
.imgcontainer img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.imgcontainer:hover img {
    transform: scale(1.5);
    filter: brightness(50%);
}
.centered {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: "Montserrat",serif;
    font-size:40px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    transition: 1s;
}
.imgcontainer:hover +.centered{
     font-size: 45px;
}
/*for the image*/



/*for the animation*/
@media screen and (max-width: 973px) {
    
    .img{
        height: 300px;
    }
    .card-body{
        height: 175px;
    }
}
@media screen and (max-width:317px) {
    .img{
        height: 100px;
    }
    .card-body{
        height: 105px;
    }
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
  }
}


