@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Montserrat:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    animation: transitionIn 1s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
  }
}

.img:hover{
    filter: brightness(50%);
}
.centered {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font: "Montserrat",serif;
    font-size:40px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

@media screen and (max-width: 973px) {
    
    .img{
        height: 300px;
    }
    .card-body{
        height: 175px;
    }
}
