@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Montserrat:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    animation: transitionIn 1s;
}


/* for the card*/
.imgcontainer{
    overflow: hidden;
    margin: 0 auto;
}
.imgcontainer img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.imgcontainer:hover img {
    transform: scale(1.5);
    filter: brightness(50%);
}
.centered {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: "Montserrat",serif;
    font-size:40px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    transition: 1s;
}
.imgcontainer:hover +.centered{
     font-size: 45px;
}
/*for the card*/

/*for the screen size*/
@media screen and (max-width: 973px) {
    
    .img{
        height: 300px;
    }
    .card-title{
        font-size: 20px;
    }
    .card-body{
        height: 210px;
    }
}
@media screen and (max-width: 760px) {
    .centered {
        font-size: 15px;
    }
    .card{
        width: 170px;
    }
    .card-title{
        font-size: 20px;
    }
    .card-text{
        font-size: 14px;
    }
}
@media screen and (max-width:649px) {
    .img{
        height: 100px;
    }
    .card-body{
        height: 190px;
    }
    .card-text{
        font-size: x-small  ;
    }
    p+a{
        font-size: 1px;
    }
}
@media screen and (max-width:575px) {
    .row  .col{
        width: 32vw;
    }
    .btn{
        font-size: 14px;
    }
    .imgcontainer:hover +.centered{
         font-size: 20px;
    }
}
@media screen and (max-width: 538px) {
    .row  .col{
        width: 32vw;
    }
    .btn{
        font-size: 14px;
    }
    .imgcontainer:hover +.centered{
         font-size: 20px;
    }
}
@media screen and (max-width:500px) {
    .row  .col{
        width: 35vw;
    }
    .btn{
        font-size: 14px;
    }
    .imgcontainer:hover +.centered{
         font-size: 18px;
    }
}
@media screen and (max-width:375px) {
    .row  .col{
        width: 32vw;
        border: solid;
    }
    .row .col > .card +img{
        border: solid;
        
    }
    .btn{
        font-size: 14px;
    }
    .imgcontainer:hover +.centered{
         font-size: 20px;
    }
}
/*for the animation*/
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
  }
}


