@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    animation: transitionIn 1s;
}

.navbar{
    background-color: #cc0000;
}
.card{
    width: 300px;
}
.text{
    -webkit-user-select: none;-
}
.text h1{
    font-family: "Old Standard TT",sans-serif;
}
.text p{
    font-family: "Oswald",sans-serif;
    letter-spacing: 5px;
}

/*for the animation*/
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
  }
}


