@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    animation: transitionIn 1s;
}
.nav-item .nav-link{
    letter-spacing: 3px;
    font-family: "Poppins",sans-serif;
}

.container-md span{
    letter-spacing: 10px;
    font-family: 'Poppins',sans-serif;
}
.card{
    width: 300px;
}
.text{
    -webkit-user-select: none;
}
.text h1{
    font-family: "Old Standard TT",sans-serif;
}
.text p{
    font-family: "Oxygen",sans-serif;
    letter-spacing: 5px;
}

/*for the animation*/
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
  }
}


